.rightForm{
    width: 40%;
    height: auto;
    float: right;
    text-align: center;
    margin-top: 150px;
    
}

.chooseMain button{
    width: 170px;
    height: 50px;
    border:  none;
    background-color: #ddd;
   
    
}
.ChooseLogin{
    border-bottom: 1px solid steelblue !important;
    
}
.ChooseLogin span{
    color: steelblue;
}
.chooseMain span{
    font-size: 25px;
}

.square_main{
    background-color: white;
    width: 340px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    
    
}


.rightForm_wrap{
   
    margin: 0 auto;
    width: 31.25em;
    
}
.loginInput_wrap{
    margin-top: 20px;
}
.LoginId, .LoginPw {
    border: none;
    border-bottom: 1px solid black;
    background-color: #ddd;
    font-size: 20px;
    padding: 5px;
    outline: none;
    width: 330px;
    height: 40px;
}
.btn_area{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin: 0 auto;
   
    width: 340px;
    margin-top: 30px;
}

.btn_span{
    color: black;
}
.loginbtn_span{
    font-weight: bolder;
    font-size: 15px;
}
.loginbtn{
   
    background-color: steelblue;
    border: none;
    color: white;
    padding: 5px;
    outline: none;
    width: 120px;
    height: 40px;
}
.LoginUtile{
    font-size: 15px;
    text-align: right;
    
}
.Notice_list{
    margin: 0 auto;
    width: 340px;
    margin-top: 50px;
    border: 1px solid black;

}
.hr-sect {
   
    width: 340px;
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
    margin: 0 auto;
    margin-top: 30px;
}

.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}