.LoginNotice{
    float: left;
   background-color: #ddd;
    width: 59%;
    height: 100%;
    border-right: 1px dotted black;
    
   
    
}
.react-player{
    margin: 0 auto;
    text-align: left;
    margin-top: 50px;
}

